.DS_Store
.gitignore
mydata.txt
Figure-Lesson8.png
Figure.png
subplots.png
Figure-script.png
Figure2-Lesson8.png
image.png
Exercises.py
exercise_answers/ExerciseA.py
exercise_answers/ExerciseB.py
exercise_answers/ExerciseC.py
exercise_answers/ExerciseD.py
exercise_answers/ExerciseE.py
exercise_answers/ExerciseF.py
exercise_answers/ExerciseG.py
exercise_answers/ExerciseH.py
